@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("bg1.png");
  color: black;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header, .content {
	background: lavender;
	display: flex;
	border: solid;
	border-color: darkgrey;
	border-radius: 10px;
	margin: 5% 20% 5% 20%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}

.quote{
  margin-top: 25px;
  color: blueviolet;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.author{
  margin-top: 10px;
  color: blue;
  font-family: 'Cairo', sans-serif;
  font-size: 1rem;
}

button {
  padding: 0.5rem;
  background: rgb(90, 90, 145);
	display: flex;
	border: solid;
  border-color: darkgrey;
	color: lavender;
	border-radius: 10px;
	margin: 5% 43% 5% 43%;
	padding: 1rem;
}

i {
  margin-top: 1rem;
}
